.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.table {
  text-align: left;

  thead {
    tr {
      th {
        position: relative;
        border-bottom-color: #1875DE;
        background: #E8F1FC;

        a {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: inherit;
          text-decoration: none;

          &:hover {
            // background: #E8F1FC;
            color: #fff;
          }

          &::after {
            content: "";
            position: absolute;
            top: calc(100% - 20px);
            left: calc(100% - 20px);
            margin-top: -7px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #000 transparent;
          }
        }

        &:hover {
          a {
            display: contents;
          }
        }
      }
    }
  }
}

.table-hover {
  tbody {
    tr {
      &:hover {
        --bs-table-accent-bg: #fcfcfc;
        color: var(--bs-table-hover-color);
      }
    }
  }
}